<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <title>{{title}}</title>
        
    </head>
<body>
    <main>
        <div id="header">
            <h1>The Travels of a Wandering Gourmand</h1>
        
        
        <nav id="b1">
            <a href='/blog'>List all entries<br />(oldest-first)</a>
        </nav>
        <nav id="b2">
            <a href='/blog?sort=newest'>List all entries<br />(newest-first)</a>
        </nav>
        <nav id="b3">
            <a href='/new_entry'>Create new entry</a>
        </nav>
        </div>


        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="flash_message">{{message|safe}}</div>
                {% endfor %}
            {% endwith %}

            {% block content %}
            {% endblock %}

        </div>
    </main>

</body>
</html>